.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: linear-gradient(to bottom, #5e27c9 -1%, #330867 100%);

}

.home_intro{
    text-align: center;

}


h1{
    font-size:  40px;
    color: white;
}
h3{
    color: white;
    font-size: 20px;
    line-height: 0%;
}

.offers{
    width: 40%;
    padding: 0 30%;

}

.latest_offer{
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px;
    padding: 5px 20px;
    color: white;
    line-height: 0%;
    align-items: center;

}


.latest_offer span > p{
    font-size: 12px;
    font-weight: bold;
}

.features{
    display: flex;
    background-color:#f6f7fb ;
    width: 50%;
    padding: 5% 25%;
}

.row3{
    padding: 10px;
}

.features > .row3 > h4{
    font-size: 18px;
    
}
.features > .row3 > p{
    color: #7d858e;
    font-size: 14px;

}